! special
*.foreground:   #545855
*.background:   #f0f4f5
*.cursorColor:  #545855

! black
*.color0:       #3c3e3c
*.color8:       #545855

! red
*.color1:       #ac4c64
*.color9:       #ac4c64

! green
*.color2:       #5acc77
*.color10:      #4cac64

! yellow
*.color3:       #ac8b4c
*.color11:      #ab894b

! blue
*.color4:       #5a77cc
*.color12:      #4c64ac

! magenta
*.color5:       #a14cac
*.color13:      #a04bab

! cyan
*.color6:       #5ab3cc
*.color14:      #4b96ab

! white
*.color7:       #eff3f0
*.color15:      #f2f6f3